
//h1 kek
//input#inp type="text" name="dsa"
//button.navbar-toggler.sub-header-toggler.w-50.text-left.sub-header-button.py-2 style="background-color:#7af2ba" onclick="functionToExecute()" BTN
//textarea#txtarea name="test" cols="30" rows="10" 

//button.btn.btn-dark.btn-outline-secondary.h3-homepage.px-3.px-md-4#frontend-image-submit style="border-radius: 0px 12px 12px 0px; color: white;" type="button" Choose
//= file_field_tag "image", accept: 'image/jpeg, image/png', class: 'btn', id: 'image_submit', style:"display:none"



.w-100
  .d-flex.justify-content-center
    .sub-header-width
      .padding
        .row.container.d-flex.justify-content-center
          .col-md-6
            .card.card-bordered
              .card-header
                h4.card-title.mt-2
                  strong 
                    - name = @target_user.first_name.to_s + " " + @target_user.last_name.to_s
                    =name
                  i.bi.bi-circle-fill.ml-2#status style="color:grey"
              .ps-container.ps-theme-default.ps-active-y#chat-content style=("overflow-y: scroll !important; height:400px !important;") 
                .ps-scrollbar-x-rail style=("left: 0px; bottom: 0px;") 
                  .ps-scrollbar-x style=("left: 0px; width: 0px;") tabindex="0" 
                .ps-scrollbar-y-rail style=("top: 0px; height: 0px; right: 2px;") 
                  .ps-scrollbar-y style=("top: 0px; height: 2px;") tabindex="0" 
              .publisher.bt-1.border-light
                img.avatar.avatar-xs alt="..." src="https://img.icons8.com/color/36/000000/administrator-male.png" /
                input.publisher-input#inp placeholder=("Write something") type="text" /
                span.publisher-btn.file-group
                  i.fa.fa-paperclip.file-browser
                  input type="file"
                button.btn.btn-xs.btn-secondary onclick="functionToExecute()" data-abc="true" href="#"  Send
                

javascript:

  var pubnub = new PubNub({
      publishKey: "#{@publishKey}",
      subscribeKey: "#{@subscribeKey}",
      uuid: "#{@user_uuid}"
  });

  pubnub.subscribe({
    channels: ["my_channel"],
    withPresence: true
  });



  //Event Listener listens to all message that you are subscribed to

  var chatContent = document.getElementById('chat-content');
  var my_html = '';
  
  pubnub.addListener({
    message: function(receivedMessage) {
        
      if("#{@user_uuid}" == receivedMessage.userMetadata.uuid){
        my_html = '<div class="media media-chat media-chat-reverse"> <div class="media-body"> <p>' +  receivedMessage.message.text + '</p> </div> </div>'
        chatContent.innerHTML += my_html;
        my_html = '';

      }else{
        my_html = '<div class="media media-chat"> <div class="media-body"> <p>' +  receivedMessage.message.text + '</p> </div> </div>'
        chatContent.innerHTML += my_html;
        my_html = '';
      }

    },
    file: function(f){
      console.log(f.file.url);
    }
  });

  pubnub.hereNow(
  {
    channels: ["my_channel"],
    includeUUIDs: true,
    includeState: true,
  },
  function (status, response) {
    length = response.totalOccupancy;
    arr = response.channels.my_channel.occupants

    for (let i = 0; i < length; i++) {
      if (arr[i].uuid != "#{@user_uuid}"){
        console.log("Other person is online");
        document.getElementById('status').style = "color: #1DBF73"
      }
    }
  }
  );

  

  //Publishes/Sends the message to the channel
  function functionToExecute(){
    var input = document.getElementById('inp');
    pubnub.publish(
    {
      channel: "my_channel",
      message: {"text": input.value},
      meta: {
        user_name: "#{@name}",
        uuid: "#{@user_uuid}"
      }
    }
    )

    notificationCreate(input.value);
    input.value = "";

  };
    

  function notificationCreate(txt){
    $.ajax({
      type: 'post',
      url: '/user/notification',
      dataType:"json",
      data: {id: "#{@target_user.id}"}
    });
  }

  

  
  /*
  image_submit.onchange = evt => {
    const [file] = image_submit.files
    if (file) {
      
      //img.src = URL.createObjectURL(file)
      //upload.value = file.name

      pubnub.sendFile({
        channel: 'my_channel',
        file: file.name,
      })

    }
  }


  $('#frontend-image-submit').click(function() {
    $('#image_submit').trigger('click');
  });
  */



    
  




  /*
  pubnub.objects.setUUIDMetadata({
    uuid: "#{@user_uuid}",
    data: {
        name: "#{@user_uuid}",
        email: "johndoe@pubnub.com"
    }
  });*/
  
  // console.log(pubnub.objects.getUUIDMetadata())


  //Retrieve the last 100 messages from my_channel
  /*
  pubnub.fetchMessages(
  {
    channels: ["my_channel"],
    end: '20578961574918620',
    count: 25
  },
  function(status, response) {
    //var log = status.text + ": " + response;

    console.log(status, response);
    //textarea2.value += log;

  }
  );*/



 