- flash.each do |type, msg|
  -if type == "notice" 
    .alert.alert-danger.mt-4
      = msg
  -else
    .alert.alert-success.mt-4
      = msg
= form_for @project, html:{class:'d-flex flex-column min-vh-100 justify-content-center align-items-center'}, url: user_index_path, method: "POST" do |f|
  .w-100.mb-5
    .row.row-homepage
      .col-2.col-sm-3
      .col-8.col-sm-6.p-4.p-sm-5.p-lg-4.p-xl-5.pb-0.pb-sm-0.pb-lg-4.pb-xl-5
        .table.mb-0.d-flex.justify-content-center.align-items-center
          .row.row-homepage style="vertical-align:middle"
            .col-12.mb-3.mb-sm-4.mb-lg-5
              h1.h2-homepage.pl-0.pb-0#login-header style="text-align:center" Create project
            .col-12
              .row.row-homepage.p-0
                .col-12
                  .input-group
                    = f.text_field :project_name, required: true, class: "form-control form-control-lg p-homepage mb-2 mb-sm-3 checkout-input", style: "border-radius:12px", placeholder: "Project Name"
                .col-12
                  .input-group
                    = f.text_area :project_description, required: true, class: "form-control form-control-lg p-homepage mb-2 mb-sm-3 checkout-input", style: "border-radius:12px", placeholder: "Project Description"
                .col-12
                  .input-group
                    = f.select :project_category, raw("<option>Programming</option><option>Design</option><option>Business</option><option>Marketing</option><option>Finance</option><option>Education & Training</option>"), {prompt: "Project Category"}, class: "form-control form-control-lg p-homepage mb-sm-3 custom-select checkout-input", id:"abstractProjectCategory", style: "border-radius:12px"
                .col-12
                  .input-group
                    = f.select :project_detailed_category, options_for_select(design_category, :selected => 0), {prompt: "Project Detailed Category"}, class: "form-control form-control-lg p-homepage mb-sm-3 custom-select checkout-input", id:"designCategory", style: "border-radius:12px; display:none"
                    = f.select :project_detailed_category, options_for_select(programming_category, :selected => 0), {prompt: "Project Detailed Category"}, class: "form-control form-control-lg p-homepage mb-sm-3 custom-select checkout-input", id:"programmingCategory", style: "border-radius:12px; display:none"
                    = f.select :project_detailed_category, options_for_select(business_category, :selected => 0), {prompt: "Project Detailed Category"}, class: "form-control form-control-lg p-homepage mb-sm-3 custom-select checkout-input", id:"businessCategory", style: "border-radius:12px; display:none"
                    = f.select :project_detailed_category, options_for_select(marketing_category, :selected => 0), {prompt: "Project Detailed Category"}, class: "form-control form-control-lg p-homepage mb-sm-3 custom-select checkout-input", id:"marketingCategory", style: "border-radius:12px; display:none"
                    = f.select :project_detailed_category, options_for_select(finance_category, :selected => 0), {prompt: "Project Detailed Category"}, class: "form-control form-control-lg p-homepage mb-sm-3 custom-select checkout-input", id:"financeCategory", style: "border-radius:12px; display:none"
                    = f.select :project_detailed_category, options_for_select(education_training_category, :selected => 0), {prompt: "Project Detailed Category"}, class: "form-control form-control-lg p-homepage mb-sm-3 custom-select checkout-input", id:"educationTrainingCategory", style: "border-radius:12px; display:none"
                .col-12
                  .input-group
                  = f.select :project_type, raw("<option>Normal Project</option><option>Competition</option><option>Bid</option>"), {prompt: "Project Type"}, class: "form-control form-control-lg p-homepage mt-2 mt-sm-0 mb-sm-3 custom-select checkout-input", style: "border-radius:12px"
              .row.row-homepage.mt-0.mt-lg-4
                .col-12.col-lg-3.d-flex.justify-content-center.justify-content-sm-start.align-items-center
                  = link_to "Back", user_Index_path, class:"btn btn-dark btn-outline-secondary h3-homepage px-5 px-md-4 px-sm-4 py-sm-2 mt-3 mt-sm-2 login-button-font w-100", style: 'border-radius: 12px; color: white;'
                .col-0.col-lg-4
                .col-12.col-lg-5.d-flex.justify-content-center.justify-content-sm-end.align-items-center
                  = f.submit "Create Project", class: 'btn btn-dark btn-outline-secondary h3-homepage px-5 px-md-4 px-sm-4 py-sm-2 mt-3 mt-sm-2 login-button-font w-100', style: 'border-radius: 12px; color: white;'
      .col-2.col-sm-3

javascript:
  $('#abstractProjectCategory').change(function() {
    inp = $('#abstractProjectCategory').val();
    var design = document.getElementById('designCategory')
    var programming = document.getElementById('programmingCategory')
    var business = document.getElementById('businessCategory')
    var marketing = document.getElementById('marketingCategory')
    var finance = document.getElementById('financeCategory')
    var education_training = document.getElementById('educationTrainingCategory')


    if(inp == "Design"){
      design.style.display = "inline";
      programming.style.display = "none";
      business.style.display = "none";
      marketing.style.display = "none";
      finance.style.display = "none";
      education_training.style.display = "none";
    }else if(inp == "Programming"){
      programming.style.display = "inline";
      design.style.display = "none";
      business.style.display = "none";
      marketing.style.display = "none";
      finance.style.display = "none";
      education_training.style.display = "none";
    }else if(inp == "Business"){
      business.style.display = "inline";
      design.style.display = "none";
      programming.style.display = "none";
      marketing.style.display = "none";
      finance.style.display = "none";
      education_training.style.display = "none";
    }else if(inp == "Marketing"){
      marketing.style.display = "inline";
      design.style.display = "none";
      business.style.display = "none";
      programming.style.display = "none";
      finance.style.display = "none";
      education_training.style.display = "none";
    }else if(inp == "Finance"){
      finance.style.display = "inline";
      design.style.display = "none";
      programming.style.display = "none";
      business.style.display = "none";
      marketing.style.display = "none";
      education_training.style.display = "none";
    }else if(inp == "Education & Training"){
      education_training.style.display = "inline";
      finance.style.display = "none";
      design.style.display = "none";
      programming.style.display = "none";
      business.style.display = "none";
      marketing.style.display = "none";
    }else{
      programming.style.display = "none";
      design.style.display = "none";
      business.style.display = "none";
      marketing.style.display = "none";
      finance.style.display = "none";
      education_training.style.display = "none";
    }
  });
