

.dashboard-container{
  width: 90%;
}

#triangle-down{
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 11px solid #babdb9;
}


.details-col{
  height:90px;
  max-height:90px;
}

.skin-dna-box{
  width:15em;
  height:12em;
}

.skin-details{
  display:flex;
}

.skin-dna-indicator{
  height: 10px
}

#skin-dna-indicator-left{
  padding-right: 4px;
}

#skin-dna-indicator-middle{
  padding-left: 2px;
  padding-right: 2px;
}

#skin-dna-indicator-right{
  padding-left: 4px;
}


.overlay{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  background-color: rgba(0,0,0,0.5);
  display:flex;
}

.chart-type{
  width:45%
}

.h1-dashboard{
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-style: bold;
  font-weight: 1000;
  &.beautician-dashboard-customer{
    font-size: 7em;
    line-height: 100px;
  }
  &.beautician-dashboard-comission{
    font-size: 5.5em;
    line-height: 100px;
  }
}

.h2-dashboard{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-style: bold;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;
}

.h2-dashboard-height{
  height:65px
}

.profile-picture{
  max-width:280px; 
  max-height:280px;
}

.vertical-line{
  border-right:5px solid #C4C4C4; height:80%
}

.logo-container{
  width:60px;
  max-width:60px;
}

.card-project-width{
  width: 18rem;
}





.custom-check {
  line-height: 100%;
  display: block;
  text-align: left;
  margin-right: 30px;
}

table .custom-check {
  margin: 0 -7px 0 16px;
  display: inline-block;
}

.custom-check-input {
  background-color: #fff;
  border: 2px solid #fff;
  margin: 0 0 0 1px;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
}

.custom-check-input[type="checkbox"] {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 1px #b7c2c8;
  -moz-box-shadow: 0 0 0 1px #b7c2c8;
  box-shadow: 0 0 0 1px #b7c2c8;
  margin-top: 3px;
}

.custom-check-md .custom-check-input[type="checkbox"] {
  width: 14px;
  height: 14px;
}

.custom-check-md .custom-check-input[type="checkbox"]:checked {
  background-position: top 1px center;
}

.custom-check-md .custom-check-input[type="checkbox"] + .custom-check-label {
  padding-left: 31px;
}



.custom-check-input:hover {
  background-color: #efefef;
}


.custom-check-input.check-primary[type="checkbox"] {
  width: 13px;
  height: 13px;
  border: 1px solid #b7c2c8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.custom-check-md .custom-check-input[type="checkbox"] {
  width: 14px;
  height: 14px;
}
.custom-check-input[type="checkbox"]:checked {
  background: #fff url("/assets/checked.png") center top no-repeat;
}
.custom-check-md .custom-check-input[type="checkbox"]:checked {
  background-position: top 1px center;
}
.custom-check-input.check-primary[type="checkbox"]:checked {
  background: #0367da url("/assets/checked-white.png") center top 2px no-repeat;
  border-color: #0367da;
}
.custom-check-input::-ms-check {
  display: none;
}

table .custom-check-input[type="checkbox"] {
  margin: 0;
  position: relative;
}
.auth-form .custom-check-input[type="checkbox"] {
  width: 11px;
  height: 11px;
  border: 1px solid #979797;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 5px 0 0;
}

.auth-form .custom-check-input[type="checkbox"]:checked {
  background: #fff url("/assets/checked.png") center/7px 5px no-repeat;
}
#campaign-analysis-details .custom-check-input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-top: 1px;
}
#campaign-analysis-details .custom-check-input[type="checkbox"]:not(:checked) {
  background-color: transparent;
}
#campaign-analysis-details .custom-check-input[type="checkbox"]:checked {
  background-position: center;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.profile-link{
  color:grey;
}

.profile-link:hover{
  color:#80d144;
}


@media screen and (max-width: 1680px) {

  .details-col{
    height:80px;
    max-height:80px;
  }

  .h1-dashboard{
    font-size: 1.5em;
    &.beautician-dashboard-customer{
      font-size: 6em;
      line-height: 80px;  
    }
    &.beautician-dashboard-comission{
      font-size: 4.5em;
      line-height: 80px; 
    }
  }

  .h2-dashboard{
    font-size: 1.15em;
    line-height: 30px;
  }

  .profile-picture{
    max-width:60px; 
    max-height:60px;
  }

  .logo-container{
    width:12%;
  }

  .skin-dna-box{
    width:18em;
    height:12em;
  }

  .h2-dashboard-height{
    height:60px
  }
}

@media screen and (max-width: 1440px) {

  .h1-dashboard{
    font-size: 1.2em;
    &.beautician-dashboard-customer{
      font-size: 5em;
      line-height: 65px;
    }
    &.beautician-dashboard-comission{
      font-size: 4em;
      line-height: 65px; 
    }
  }

  .h2-dashboard{
    font-size: 1em;
  }

  .profile-picture{
    max-width:55px; 
    max-height:55px;
  }

  .logo-container{
    width:14%;
  }

  .skin-dna-box{
    width:16em;
    height:11em;
  }

  .skin-dna-indicator{
    height: 9px
  }

}

@media screen and (max-width: 1200px) {
  
  .details-col{
    height:70px;
    max-height:70px;
  }

  .h1-dashboard{
    font-size: 1.0em;
    &.beautician-dashboard-customer{
      font-size: 4em;
      line-height: 44px;
    }
    &.beautician-dashboard-comission{
      font-size: 3em;
      line-height: 44px;  
    }
    &.index-why-us-header{
      font-size: 1.15em;
    }
  }

  .h2-dashboard{
    font-size: 0.95em;
    line-height: 24px;
  }

  .skin-dna-box{
    width:14em;
    height:10em;
  }

  .profile-picture{
    max-width:50px; 
    max-height:50px;
  }

  .vertical-line{
    border-right:4px solid #C4C4C4; height:80%
  }

  .logo-container{
    width:15%;
  }

  .skin-dna-indicator{
    height: 8px
  }

  #triangle-down{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #babdb9;
  }

  .h2-dashboard-height{
    height:33px
  }

}

@media screen and (max-width: 992px) {
  
  .details-col{
    height:80px;
    max-height:80px;
  }

  .h1-dashboard{
    font-size: 0.9em;
    &.beautician-dashboard-customer{
      font-size: 3.4em;
      line-height: 38px;
    }
    &.beautician-dashboard-comission{
      font-size: 2.4em;
      line-height: 38px; 
    }
  }

  .h2-dashboard{
    font-size: 0.815em;
    line-height: 22px;
  }

  .profile-picture{
    max-width:50px; 
    max-height:50px;
  }

  .logo-container{
    width:18%;
  }

  .skin-dna-box{
    width:12.5em;
    height:9em;
  }

  .skin-dna-indicator{
    height: 7px
  }

  #triangle-down{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #babdb9;
  }

  #skin-dna-indicator-left{
    padding-right: 3px;
  }
  
  #skin-dna-indicator-middle{
    padding-left: 1px;
    padding-right: 1px;
  }
  
  #skin-dna-indicator-right{
    padding-left: 3px;
  }

  .h2-dashboard-height{
    height:45px
  }

}

@media screen and (max-width: 768px) {
  
  .details-col{
    height:80px;
    max-height:80px;
  }

  .h1-dashboard{
    font-size: 0.85em;
  }

  .profile-picture{
    max-width:110px; 
    max-height:110px;
  }

  .vertical-line{
    border-right:3px solid #C4C4C4; height:80%
  }

  .logo-container{
    width:11%;
  }

  .chart-type{
    width:100%
  }

  .h2-dashboard{
    font-size: 0.79em;
    line-height: 18px;
  }

  .skin-dna-box{
    width:12em;
    height:9em;
  }

  .skin-dna-indicator{
    height: 6px
  }

  .h2-dashboard-height{
    height:30px
  }
}

@media screen and (max-width: 576px) {
  
  .details-col{
    height:70px;
    max-height:70px;
  }

  .h1-dashboard{
    font-size: 0.85em;
    &.beautician-dashboard-customer{
      font-size: 3.3em;
      line-height: 33px;
    }
    &.beautician-dashboard-comission{
      font-size: 2.3em;
      line-height: 33px; 
    }
  }

  .h2-dashboard{
    font-size: 0.7em;
    line-height: 15px;
  }

  .profile-picture{
    max-width:60px; 
    max-height:60px;
  }

  .logo-container{
    width:13%;
  }

  .skin-dna-box{
    width:10em;
    height:8em;
  }

  .skin-dna-indicator{
    height: 5px
  }

  #triangle-down{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #babdb9;
  }

  .card-project-width{
    width: 100%;
  }
}
